/* Estilos globales */
* {
    font-family: "Roboto", sans-serif;
}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.centrar-texto{
    text-align: center;
}

/* Inicio del header */
header {
    background-image: url(../img/background-header-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    position: relative;
}

.oscurecerlo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.652);
    width: 100%;
    height: 100%;
}

.logo-hotel {
    width: 4rem;
    height: 4rem;
}
.nav-header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.494);
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 0;
}
li{
    margin: 3px;
    padding: 1px 4px;
    border: 1px none rgb(0, 0, 0);
    border-radius: 0.5rem;
}
li:hover{
    background-color: rgb(255, 255, 255);
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: rgb(0, 0, 0);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}
form{
    color: rgb(255, 255, 255);
    font-weight: 100;
}


/* Inicio del main */
.titulo-main {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 400;
}
.parrafo-size{
    font-size: 1rem;
}
.img-servicios{
    height: 16rem;
}
.img-size{
    width: 17rem;
    height: 13rem;
}
.cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.card-item{
    width: 18rem;
}
.carousel-padding{
    padding: 10px;
}

@media only screen and (min-width: 500px){
    .cards-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 1.5rem;
    }
    .img-servicios{
        height: 22rem;
    }
}


/* Inicio del footer */
footer {
    background-color: #000;
}
.logos-size {
    width: 3rem;
    height: 3rem;
}
.logos-size:hover {
    width: 3.5rem;
    height: 3.5rem;
}

.footer-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 5px;
}
.logos-footer{
    display: flex;
    flex-direction: column;
}
.parrafo-footer{
    margin-bottom: 0;
    color: #fff;
}