footer {
    background-color: #081c15e7;
    color: #fff;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
    padding: 25px 0;
    text-align: center;

    .footer-container-item{
        margin: 0 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        a{
            text-decoration: none;
            color: #fff;
        }
    }
}
.derechos-reservados{
    padding-bottom: 20px;
}

.logos-size {
    width: 2rem;
    height: 2rem;
}

.separador{
    height: 1px;
    background-color: #D8F3DC;
    margin: 15px;
}

