footer {
    background-color: nth($list: $coloresVarios, $n: 4);
    color: $colorBlanco;
}

.footer-container{
    @include flex(flex, row, wrap, center, center);
    row-gap: 4rem;
    padding: 25px 0;
    text-align: $centrarTexto;

    .footer-container-item{
        margin: 0 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        a{
            text-decoration: none;
            color: $colorBlanco;
        }
    }
}
.derechos-reservados{
    padding-bottom: 20px;
}

.logos-size {
    width: 2rem;
    height: 2rem;
}

.separador{
    height: 1px;
    background-color: $colorPrincipal;
    margin: 15px;
}

