.header-index {
    background-image: url(../img/background-header-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}
.header-hab{
    background-image: url(../img/hab-doble-5.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}
.header-servicios{
    background-image: url(../img/piscina.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}
.header-galeria{
    background-image: url(../img/lobby-4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}
.header-contacto{
    background-image: url(../img/recepcion-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}

.oscurecerlo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.652);
    width: 100%;
    height: 100%;
}

.logo-hotel {
    width: 3rem;
    height: 3rem;
}


nav {
    background-color: $colorPrincipal;

    .navbar-brand {
        font-size: 1rem;
        .logo-hotel{
            margin-right: 10px;
        }
    }

    .navbar-collapse {
        justify-content: flex-end;

        .navbar-nav {
            display: flex;
            align-items: flex-end;

            .active{
                text-decoration: underline;
            }

            .nav-link{
                &:hover{
                    @include hover(none, $colorNegro, scale(1.1), all .4s, underline)
                }
                
            }
        }
    }

}


h1 {
    color: $colorBlanco;
    font-size: 3.5rem;
    margin-top: 20rem;
}
