@media only screen and (min-width: 600px) {
    h1 {
        font-size: 5rem;
    }

    .section-reservas {
        .reservas-form {
            .flex-form {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-evenly;
            }
        }
    }

    .h2-container {
        margin-right: 40px;
        margin-left: 40px;
        padding-left: 55px;
        padding-right: 55px;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        justify-items: center;
    }

    .habitaciones-container {
        .habitaciones-titulos {
            margin: 15px 60px;
        }
    }

    .habitacion-cards {
        .img-size {
            width: 20rem;
            height: 16rem;
        }
    }

    .cards-servicios-container {
        .card {
            width: 40%;
        }
    }

    .grid-contacto-container {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 2rem;

        .grid-contacto-item{
            grid-column: 1/2;
            display: grid;
            grid-template-rows: repeat(5, auto);
        }
        .mail {
            
            grid-row: 1/2;

            img {
                grid-row: 1/3;
            }
        }

        .whatsapp {
            grid-row: 2/3;

            img {
                grid-row: 1/3;
            }
        }

        .telefono {
            grid-row: 3/4;
            img {
                grid-row: 1/3;
            }
        }

        .mapa {
            grid-column: 3/5;
            grid-row: 1/4;
            iframe{
                grid-column: 1/7;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 6rem;
    }

    .h2-container {
        padding-left: 200px;
        padding-right: 200px;

        h2 {
            font-size: 3.5rem;
        }
    }

    .habitaciones-container {
        .habitaciones-titulos {
            margin: 15px 100px;
        }
    }

    .habitacion-cards {
        .img-size {
            width: 30rem;
            height: 24rem;
        }
    }

    .cards-servicios {
        gap: 2rem;
    }

    .card-item {
        width: 23rem;
    }

    .img-servicios {
        width: 23rem;
        height: 16rem;
    }

    .grid-contacto-container{
        margin-right: 2rem;
        margin-left: 2rem;
    }
}